<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
       <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.products.count %></td>
        <td><button type="" class="btn btn-primary">Show<% category %></button></td>
        <td><button type="" class="btn btn-success">Edit<%edit_category_path(category) %></button></td>
        <td><button type="" class="btn btn-danger"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoria', new_category_path %>
